<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.BIND_INCALL_SERVICE" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name="${applicationName}"
        android:label="Tringo"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TringoCallScreeningService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <service
            android:name=".TringoOverlayService"
            android:exported="false"
            android:foregroundServiceType="phoneCall|dataSync" />

        <service
            android:name=".TringoInCallService"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>

            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="false" />
        </service>



        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>


    <!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    xmlns:tools="http://schemas.android.com/tools">-->

<!--    &lt;!&ndash; ================= PERMISSIONS ================= &ndash;&gt;-->

<!--    <uses-permission android:name="android.permission.INTERNET" />-->

<!--    &lt;!&ndash; Phone / Call &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />-->

<!--    &lt;!&ndash; Contacts &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_CONTACTS" />-->

<!--    &lt;!&ndash; Overlay + Foreground &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" tools:ignore="ProtectedPermissions"/>-->

<!--    &lt;!&ndash; Optional &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->
<!--    <uses-permission android:name="android.permission.INTERNET"/>-->
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL"/>-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>-->
<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>-->
<!--    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />-->



<!--    &lt;!&ndash; ================= APPLICATION ================= &ndash;&gt;-->

<!--    <application-->
<!--        android:name="${applicationName}"-->
<!--        android:label="Tringo"-->
<!--        android:icon="@mipmap/ic_launcher">-->

<!--        &lt;!&ndash; Flutter Main Activity &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTop"-->
<!--            android:theme="@style/LaunchTheme"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">-->

<!--            <meta-data-->
<!--                android:name="io.flutter.embedding.android.NormalTheme"-->
<!--                android:resource="@style/NormalTheme" />-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".TringoCallerPopupActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.Tringo.Popup"-->
<!--            android:launchMode="singleTop"-->
<!--            android:excludeFromRecents="true"-->
<!--            android:showWhenLocked="true"-->
<!--            android:turnScreenOn="true" />-->

<!--        &lt;!&ndash; ================= CALL SCREENING SERVICE ================= &ndash;&gt;-->
<!--        &lt;!&ndash; ⭐ THIS IS WHAT MAKES TRINGO APPEAR IN "DEFAULT CALLER ID & SPAM APP" LIST &ndash;&gt;-->
<!--        <service-->
<!--            android:name=".TringoCallScreeningService"-->
<!--            android:permission="android.permission.BIND_SCREENING_SERVICE"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.telecom.CallScreeningService" />-->
<!--            </intent-filter>-->
<!--        </service>-->


<!--        &lt;!&ndash; ================= OVERLAY SERVICE ================= &ndash;&gt;-->
<!--        <service-->
<!--            android:name=".TringoOverlayService"-->
<!--            android:exported="false"-->
<!--            android:foregroundServiceType="phoneCall|dataSync" />-->

<!--        <meta-data-->
<!--            android:name="flutterEmbedding"-->
<!--            android:value="2" />-->
<!--    </application>-->

<!--    &lt;!&ndash; ================= QUERIES ================= &ndash;&gt;-->
<!--    <queries>-->
<!--        <package android:name="com.whatsapp" />-->

<!--        <intent>-->
<!--            <action android:name="android.intent.action.VIEW" />-->
<!--            <category android:name="android.intent.category.BROWSABLE" />-->
<!--            <data android:scheme="https" />-->
<!--        </intent>-->

<!--        <intent>-->
<!--            <action android:name="android.intent.action.PROCESS_TEXT" />-->
<!--            <data android:mimeType="text/plain" />-->
<!--        </intent>-->
<!--    </queries>-->

<!--</manifest>-->
